<nav class="nav" id="nav">
    <ul class="nav-lista">
        <li class="nav-lista_item">
            <a href="../" class="nav-lista_item-link">Inicio</a>
        </li>
        <li class="nav-lista_item">
            <a href="/nosotros" class="nav-lista_item-link">Quienes somos</a>
        </li>
        <li class="nav-lista_item productos">
            <a href="/productos" class="nav-lista_item-link">Productos</a>
            <!-- ---------- Aqui cargo la sublista de productos------->
            <ul class="nav-sublista">
                 <li class="nav-sublista_item">
                     <a href="/p-basico" class="nav-sublista_item-link" >Conservadoras Básicas</a>
                 </li>
                 <li class="nav-sublista_item">
                      <a href="/p-premium" class="nav-sublista_item-link">Conservadoras Premium</a>
                 </li>
                 <li class="nav-sublista_item">
                      <a href="/p-destapador" class="nav-sublista_item-link">Destapadores</a>
                 </li>
                 <li class="nav-sublista_item">
                    <a href="#" class="nav-sublista_item-link">Personaliza aquí</a>
                 </li>
            </ul>
        </li>
        <li class="nav-lista_item">
            <a href="/contacto" class="nav-lista_item-link">Contactos</a>
        </li>
        <li class="nav-lista_item">
              <a href="#" class="nav-lista_item-link iniciar">Iniciar Sesión</a>
         </li>
         <li class="nav-lista_item">
              <a href="#" class="nav-lista_item-link registrarse">Registrarse</a>
         </li>
        
    </ul>
</nav>