<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/icons/logo.ico">
  </head>
  <body>
    <div class="cabecera">
      <%- include('./partials/header') %>
      <%- include('./partials/nav') %>
    </div> 
    
  </body>
</html>
