<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/icons/logo.ico">
  </head>
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/nav') %>

     
    
  </body>
</html>
